{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center g-3">
            <div class="col-12 col-md-6">
                <div class="fs-3 my-3">{{ 'create-pin'|trans|title }}</div>
                <div class="card">
                    {{ form_start(pinForm) }}
                    <div class="card-body vstack gap-3">
                        {{ form_errors(pinForm) }}
                        {{ form_row(pinForm.title) }}
                        {{ form_row(pinForm.description) }}
                        {{ form_row(pinForm.url) }}
                        {{ form_row(pinForm.pinTypeEnum) }}
                        {{ form_row(pinForm.tags) }}
                        {{ form_row(pinForm.email) }}
                        <div
                                class="cf-turnstile"
                                data-sitekey="{{ turnstile_site_key }}"
                                data-callback="javascriptCallback"
                        ></div>
                        <div class="text-end">
                            <button class="btn btn-primary rounded-pill" type="submit">
                                <i class="bi bi-arrow-right-short fs-4"></i>
                            </button>
                        </div>
                    </div>
                    {{ form_end(pinForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}